.about-us-container {

    background-color: #FBF9F1;
}

p1, p3, p4, p {

    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin: 20px 0;

}

h3 {

    font-size: 1.8rem;
    margin-top: 30px;
    color: #444;
}


.cards-setup {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

