.profile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .4fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: 100vh;
}

.profile-picture img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Ensure height and width are equal for a circular image */
    border-radius: 50%; /* This makes the image a circle */
    border: 2px solid #ccc; /* Optional: adds a border around the image */
}

.profile-container > div {
    padding: 20px;
}

.user-profile { grid-area: 1 / 1 / 2 / 3; }
.events-overview { grid-area: 2 / 1 / 4 / 2; }
.map { grid-area: 2 / 2 / 4 / 3; }

.user-profile {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
}

.events-overview {
    grid-area: 2 / 1 / 4 / 2;
}

.map {
    grid-area: 2 / 2 / 4 / 3;
}

.user-profile {
    background-color: #f1e9cd;
}

.events-overview {
    /*background-color: blue;*/
    display: flex;
}

.events-overview > div {
    width: 50%;
    /*background-color: pink;*/
}

/*.upcoming-events > *, .nearby-events > * {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

.map {
    /*background-color: pink;*/
}
